.about-block {
  color: #000;
  background-color: #000;
  .padding {
    padding: 0 90px;
  }
  .about {
    color: $skin-color;
    padding: 120px 0 150px;
  }
  .vision {
    position: relative;
    background-color: $skin-color;
    &:before {
      content: '';
      background-image: url("./blocks/About/images/BG_03.png");
      @include image;
      width: 50%;
      height: 100%;
      display: block;
      position: absolute;
    }
    .row > div {
      padding: 160px 90px 180px;
    }
  }
  @media only screen and (max-width: $screen-md-min) {
    .about {
      padding: 50px 0;
      .padding {
        padding: 0 35px;
      }
    }
    .vision {
      &:before {
        width: 100%;
        height: 400px;
        position: static;
      }
      .row {
        .col-md-6 {
          padding: 50px 35px;
          &:nth-of-type(1) {
            display: none;
          }
        }
      }
    }
  }
}
