.home-block {
  background-color: #000;
  padding: 140px 0 230px;
  background-image: url("./blocks/Home/images/SliderPic_01.jpeg");
  &>* {
    margin: 0 auto;
  }
  @include image;
  .logo {
    width: 270px;
    height: 273px;
    background-image: url("./blocks/Home/logo.png");
    margin-bottom: 50px;
    @include image;
  }
  .slogan {
    color: #fff;
    padding: 0;
    text-align: center;
    li {
      font-size: 20px;
      display: inline;
      font-weight: bold;
      &:not(:last-of-type):after {
        content: "|";
        margin: 0 5px;
      }
    }
  }
}
