.service-block {
  text-align: center;
  background-color: #fff;
  padding-bottom: 180px;
  .title {
    color: $skin-color;
  }
  .row > div {
    div {
      font-size: 40px;
      line-height: 50px;
      height: 430px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      position: relative;
      @include image;
      &.partnerships {
        background-image: url("./blocks/Service/images/partnerships.png");
      }
      &.immigration-assistance {
        background-image: url("./blocks/Service/images/immigration-assistance.png");
      }
      &.property-development {
        background-image: url("./blocks/Service/images/property-development.png");
      }
      &:hover {
        background-image: none;
        color: #fff;
        background-color: $skin-color;
        .more {
          display: inline-block;
        }
      }
      .more {
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, calc(-50% + 120px)) scale(.8);
        &:hover {
          background-color: #fff;
          color: $skin-color;
        }
      }
    }
  }
  @media only screen and (max-width: $screen-sm-min) {
    padding-bottom: 50px;
    .col-md-4 {
      margin-bottom: 20px;
    }
    .title {
      font-size: 40px;
    }
  }
}
