// @import 'node_modules/bootstrap/scss/variables';
// @import 'node_modules/bootstrap/scss/mixins';
// @import 'node_modules/bootstrap/scss/grid';
@import 'node_modules/normalize.scss/normalize';
@import 'node_modules/bootstrap-sass-grid/sass/bootstrap-sass-grid';
@import "./var";
@import "./mixins";

.home {
  background-color: lightyellow
}

.block:nth-child(odd) {
  background-color: #eee;
}

.block:nth-child(even) {
  background-color: #ccc;
}

.wrapper {
  .menu {
    margin: 0;
    padding: 45px 0;
    background-color: #000;
    text-align: center;
    li {
      font-size: 29px;
      display: inline;
      font-family: Lato, sans-serif;
      font-weight: lighter;
      &:not(:last-of-type) {
        margin-right: 35px;
      }
      a {
        text-decoration: none;
        color: $skin-color;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  @import "./blocks/Home/home";
  @import "./blocks/About/about";
}
