// @import 'node_modules/bootstrap/scss/variables';
// @import 'node_modules/bootstrap/scss/mixins';
// @import 'node_modules/bootstrap/scss/grid';
@import 'node_modules/normalize.scss/normalize';
@import 'node_modules/bootstrap-sass-grid/sass/bootstrap-sass-grid';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@import "./var";
@import "./mixins";

html, body {
  font-family: 'Lato', sans-serif;
}

.block:nth-child(odd) {
  background-color: #eee;
}

.block:nth-child(even) {
  background-color: #ccc;
}

.wrapper {
  .menu {
    margin: 0;
    padding: 45px 0;
    background-color: #000;
    text-align: center;
    li {
      font-size: 20px;
      display: inline;
      font-weight: lighter;
      &:not(:last-of-type) {
        margin-right: 35px;
      }
      a {
        text-decoration: none;
        color: $skin-color;
        &:hover {
          color: #fff;
        }
      }
    }
  }
  .title {
    font-size: 70px;
    line-height: 90px;
  }
  .sub-title {
    font-size: 50px;
  }
  .text {
    font-size: 18px;
    line-height: 30px;
  }
  @import "./blocks/Home/home";
  @import "./blocks/About/about";
  @import "./blocks/Service/service";
  @import "./blocks/Project/project";
}
