// @import 'node_modules/bootstrap/scss/variables';
// @import 'node_modules/bootstrap/scss/mixins';
// @import 'node_modules/bootstrap/scss/grid';
@import 'node_modules/normalize.scss/normalize';
@import 'node_modules/bootstrap-sass-grid/sass/bootstrap-sass-grid';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@import "./var";
@import "./mixins";

html, body {
  font-family: 'Lato', sans-serif;
}

.block {
  overflow: hidden;
}

.wrapper {
  .title {
    font-size: 70px;
    line-height: 90px;
    font-weight: bold;
  }
  .sub-title {
    font-size: 50px;
  }
  .text {
    font-size: 18px;
    line-height: 30px;
  }

  .more {
    color: #fff;
    border: 1px solid #fff;
    text-decoration: none;
    padding: 0px 20px 10px;
    font-size: 30px;
  }

  @import "./blocks/Menu/menu";
  @import "./blocks/Home/home";
  @import "./blocks/About/about";
  @import "./blocks/Service/service";
  @import "./blocks/Project/project";
  @import "./blocks/Director/director";
  @import "./blocks/Guarantee/guarantee";
  @import "./blocks/Testimonial/testimonial";
  @import "./blocks/Contact/contact";

  footer {
    text-align: center;
    padding: 50px 0;
    font-size: 25px;
    font-weight: bold;
    background-color: $skin-color;
  }
}
